

.pointer{cursor: pointer;}


.close-btn{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%235f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>');
    width: 24px;
    height: 24px;
}

.boxShadow{
    box-shadow: 3px 3px 3px #aeaeae;
}

.modelAddBtn svg:hover{
    background-color: RGBA(var(--bs-warning-rgb));
}


.horizontal-collapse{
    height: 100%;
    display: grid;
    grid-template-columns: 0fr auto;
    transition: grid-template-columns 250ms;
}

.horizontal-collapse > div{
    overflow: hidden;
}

.horizontal-collapse.open{
    grid-template-columns: 1fr 0fr;
    transition: grid-template-columns 250ms;
}

.content-type-wrapp{
    padding: 5% 20%;
}

.content-type-wrapp form{
    max-width: 50%;
}

.close-model-create{
    cursor: pointer;
    text-align-last: right;
    padding: 15px;
}
.close-model-create svg:hover{
    box-shadow: 3px 3px 5px #aeaeae;
}


/*  Sidebar */
#sidebar.permissions .modelAddBtn{
    display: none;
}

#sidebar .comment .modelAddBtn{
    display: none;
}

#sidebar .role .modelAddBtn{
    display: none;
}
/* Top Alert */

.top-alert{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 250ms ease-out;
    padding: 15px 0;
}

.top-alert.open{
    grid-template-rows: 1fr;
    transition: grid-template-rows 250ms ease-out;
}

.top-alert > div{
    overflow: hidden;
}

.top-alert-closebtn{
    cursor: pointer;
    float: right;
    transition: all 0.1s;
}

.top-alert-closebtn:hover{
    border: 1px solid var(--border-color);
    box-shadow: 5px 5px 5px #212529;
    transition: all 0.1s;
}

.top-alert-title{
    font-size: 1.8rem;
    text-transform: capitalize;
}

/*  content table   */
.bi-sort-alpha-down{
    display: none;
}

a.asc .bi-sort-alpha-down-alt{
    display: inline-block;
    margin-right: 15px;
}

.bi-sort-alpha-down-alt{
    display: none;
}

a.desc .bi-sort-alpha-down{
    display: inline-block;
    margin-right: 15px;
}

/*  forms   */
.ck.ck-toolbar>.ck-toolbar__items button.ck-source-editing-button{
    margin-left: 100px;
}

fieldset {
    min-width: unset;
    padding: unset;
    margin: unset;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
}

legend {
    float: unset;
    width: unset;
    padding: unset;
    margin-bottom: .5rem;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit;
}

form.create legend.edit{
    display: none;
}

form.edit legend.create{
    display: none;
}

form button[type="submit"] .spinner-border{
    display: none;
}

form.disabled button[type="submit"] .spinner-border{
    display: inline-block;
}

form.create button[type="submit"].edit{
    display: none;
}

form.edit button[type="submit"].create{
    display: none;
}


.horizontal-collapse table td{
    max-width: 20vw;
}

/*  ckeditor validation */
.was-validated textarea.form-control:invalid ~ div.ck-editor .ck.ck-editor__main>.ck-editor__editable{
    border: 1px solid #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.was-validated textarea.form-control:valid ~ div.ck-editor .ck.ck-editor__main>.ck-editor__editable{
    border: 1px solid #198754;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

/* bulk operations form */
#bulk-form input[type="checkbox"]{ visibility: hidden;}


