
    
<div id="top-alert" class="top-alert <%- locals.hasMessages ? locals.message?.type ? 'open ' + locals.message?.type : 'open warning' : '' %>">
    <div>
        <div class="top-alert-innerDiv">
            <div id="top-alert-closebtn" class="top-alert-closebtn cursorPoint">
                <div class="close-btn" onclick="toggleClass('top-alert', 'open')"></div>
            </div>
            <div id="top-alert-title" class="top-alert-title">
                <%= locals.message?.title %>
            </div>
            <div id="top-alert-body" class="top-alert-body">
                <% messages.forEach(function(message) { %>
                    <%= message %>
                <% }); %>
            </div>
        </div>
    </div>
</div>

