<footer id="footer" class="footer">
    <div id="footer-innerDiv" class="footer-innerDiv">
        <p>copyright &copy; theme A</p>
    </div>
</footer>

<script type="text/javascript" src="/scripts/themea.js" defer></script>