<header id="top-nav" class="top-nav">
    <div id="top-nav-inner-wrapper" class="top-nav-inner-wrapper">
    
        <div id="primary-menu-toggle" class="primary-menu-toggle cursorPoint" onclick="toggleClass('primary-menu', 'open')">
            <div class="menu-btn"></div>
        </div>

        <div id="brand" class="brand">
            <a href="">
                Theme A
            </a>
        </div>
        
        <div id="secondary-menu" class="secondary-menu">
            <div id="main-search-btn" class="main-search-btn" onclick="toggleClass('main-search', 'open')">
                <div class="search-btn"></div>
            </div>
            <div id="login" class="login cursorPoint">
                <div class="person"></div>
            </div>
        </div>
        
        <search id="main-search" class="main-search">
            <div>
                <form action="./search/">
                    <!-- <label for="main-search-input">Search Items: </label> -->
                    <input type="search" id="main-search-input" name="main-search-input" placeholder="Search Items" />
                    <button type="submit">Search</button>
                </form>
            </div>
        </search>

        <nav id="primary-menu" class="primary-menu" role="navigation">
            <div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>