

.pointer{cursor: pointer;}


.close-btn{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%235f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>');
    width: 24px;
    height: 24px;
}

.boxShadow{
    box-shadow: 3px 3px 3px #aeaeae;
}

.modelAddBtn svg:hover{
    background-color: RGBA(var(--bs-warning-rgb));
}


.horizontal-collapse{
    height: 100%;
    display: grid;
    grid-template-columns: 0fr auto;
    transition: grid-template-columns 250ms;
}

.horizontal-collapse > div{
    overflow: hidden;
}

.horizontal-collapse.open{
    grid-template-columns: 1fr 0fr;
    transition: grid-template-columns 250ms;
}

.content-type-wrapp{
    padding: 5% 20%;
}

.content-type-wrapp form{
    max-width: 50%;
}

.close-model-create{
    cursor: pointer;
    text-align-last: right;
    padding: 15px;
}
.close-model-create svg:hover{
    box-shadow: 3px 3px 5px #aeaeae;
}

/* Top Alert */

.top-alert{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 250ms ease-out;
    padding: 15px 0;
}

.top-alert.open{
    grid-template-rows: 1fr;
    transition: grid-template-rows 250ms ease-out;
}

.top-alert > div{
    overflow: hidden;
}

.top-alert-closebtn{
    cursor: pointer;
    float: right;
    transition: all 0.1s;
}

.top-alert-closebtn:hover{
    border: 1px solid var(--border-color);
    box-shadow: 5px 5px 5px #212529;
    transition: all 0.1s;
}

.top-alert-title{
    font-size: 1.8rem;
}